---
layout: layouts/home.njk
numberOfLatestPostsToShow: 20
---

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "homepostslist.njk" %}

<p class="more-posts">{{ morePosts }} More posts can be found in <a href="/blog/">the blog archive</a>.</p>

{# List every content page in the project #}

{# <ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul> #}

