---
permalink: /tags/
layout: layouts/home.njk
---
<div class="content panel padded">
	<h1>Tags</h1>

<ul>
{% for tag in collections.all | getAllTags | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>
</div>
